# nothing is required but it will use the defaults
# LLM_PROVIDER: ollama | azure | grok | groq | google | vertex-gemini | vertex-claude
LLM_PROVIDER=azure
# EMBEDDING_PROVIDER: ollama | azure | google
EMBEDDING_PROVIDER=azure
EMBEDDING_DIMENSIONS=256

# Google / Vertex AI (uncomment if using google providers)
# GCP_API_KEY=
# GCP_PROJECT=
# GCP_LOCATION=us-central1