{
  
  "inputs": [],
  "servers": {
    "task-manager": {
      "url": "https://task-manager.valiantlynx.com/mcp",
      "type": "http"
    },
    "mcp-server-chart": {
      "url": "https://mcp-server-chart.valiantlynx.com/mcp",
      "type": "http"
    },
    "twitter-mcp": {
      "url": "https://twitter-mcp.valiantlynx.com/mcp",
      "type": "http"
    }
  }
}
